{% extends 'layouts/base.html' %}


{% block body %}
    <div class="container">
        <div class="row">
            {% for family in object_list %}
                <div class="col-md-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="{{ family.photo.url }}" class="img-thumbnail">
                            <a>
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Social buttons-->
                        <div class="card-share">
                            <div class="social-reveal">
                                <!--Facebook-->
                                <a type="button" class="btn-floating btn-fb"><i class="fa fa-facebook"></i></a>
                                <!--Twitter-->
                                <a type="button" class="btn-floating btn-tw"><i class="fa fa-twitter"></i></a>
                                <!--Google -->
                                <a type="button" class="btn-floating btn-gplus"><i class="fa fa-google-plus"></i></a>
                            </div>
                            <a class="btn-floating btn-action share-toggle primary-color-dark float-right"><i class="fa fa-share-alt"></i></a>
                        </div>
                        <!--/Social buttons-->
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">Nombre: {{ family.name }}</h4>
                            <hr>
                            <!--Text-->
                            <div class="list-group">
                                  <a href="#" class="list-group-item list-group-item-success">Nombre. {{ family.name }}</a>
                                  <a href="#" class="list-group-item list-group-item-info">Apellido: {{ family.first_name }}</a>
                                  <a href="#" class="list-group-item list-group-item-warning">contacto: {{ family.contact_address }}</a>
                                  <a href="#" class="list-group-item list-group-item-danger">Email: {{ family.contact_email }}</a>
                            </div>
                             <div class="text-center">
                                <a class="btn btn-warning">Evaluacion</a>
                            </div>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card-->
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
