{% extends 'admin/change_form.html' %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:alumno_evaluacion' original.pk %}">Reporte Evaluacion</a>
    </li>
    {{ block.super }}
{% endblock %}