<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reporte del Alumno</title>
</head>
<body>
    <h1>Reporte!</h1>

<table>
    <tbody>
    {% for indicador in indicadores %}
    <tr>
        <th>{{ indicador.pregunta }}</th>
        <td>{{ indicador.value }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
