{% load widget_tweaks %}

<form action="" method="post">
{% csrf_token %}

{% for field, errors in form.errors.items %}
{% for error in errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}
{% endfor %}

{% for field in form %}
<div class="form-group">
    <label>{{ field.label }}</label>
    {% render_field field class+="form-control" %}
    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    <div class="form-control-feedback">{{ field.errors }}</div>
</div>
{% endfor %}

<div class="form-group">
    <button class="btn btn-primary">{{ action|default:"" }}</button>
</div>
</form>

