{% extends 'layouts/base.html' %}


{% block body %}
<script>
        $(function () {
            var data = {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
        },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
            };
            var option = {
                responsive: true,
                scaleFontSize: 10,
            };
            //Chart 1
            var ctx = document.getElementById("lineChartEx").getContext('2d');
            var lineChart = new Chart(ctx).Line(data, option);
            // Chart 2
            var ctx = document.getElementById("radarChartEx").getContext('2d');
            var radarChart = new Chart(ctx).Radar(data, option);
            // Chart 3
            var ctx = document.getElementById("barChartEx").getContext('2d');
            var barChart = new Chart(ctx).Bar(data, option);
            
            //Chart 1
            var ctx = document.getElementById("lineChartEx2").getContext('2d');
            var lineChart = new Chart(ctx).Line(data, option);
            // Chart 2
            var ctx = document.getElementById("radarChartEx2").getContext('2d');
            var radarChart = new Chart(ctx).Radar(data, option);
            // Chart 3
            var ctx = document.getElementById("barChartEx2").getContext('2d');
            var barChart = new Chart(ctx).Bar(data, option);

        });

        $(function () {
            var data = [
                {
                    value: 300,
                    color: "#F7464A",
                    highlight: "#FF5A5E",
                    label: "Red"
    },
                {
                    value: 50,
                    color: "#46BFBD",
                    highlight: "#5AD3D1",
                    label: "Green"
    },
                {
                    value: 100,
                    color: "#FDB45C",
                    highlight: "#FFC870",
                    label: "Yellow"
    },
                {
                    value: 40,
                    color: "#949FB1",
                    highlight: "#A8B3C5",
                    label: "Grey"
    },
                {
                    value: 120,
                    color: "#4D5360",
                    highlight: "#616774",
                    label: "Dark Grey"
    }

];

            var option = {
                responsive: true,
            };
            //Chart 4
            var ctx = document.getElementById("polarChartEx").getContext('2d');
            var myPolarChart = new Chart(ctx).PolarArea(data, option);
            //Chart 5
            var ctx = document.getElementById("pieChartEx").getContext('2d');
            var myPieChart = new Chart(ctx).Pie(data, option);
            //Chart 6
            var ctx = document.getElementById("doughnutChartEx").getContext('2d');
            var myDoughnutChart = new Chart(ctx).Doughnut(data, option);
            
            //Chart 4
            var ctx = document.getElementById("polarChartEx2").getContext('2d');
            var myPolarChart = new Chart(ctx).PolarArea(data, option);
            //Chart 5
            var ctx = document.getElementById("pieChartEx2").getContext('2d');
            var myPieChart = new Chart(ctx).Pie(data, option);
            //Chart 6
            var ctx = document.getElementById("doughnutChartEx2").getContext('2d');
            var myDoughnutChart = new Chart(ctx).Doughnut(data, option);



        });
    </script>
    <div class="container">
        <div class="row">
				<canvas id="myChart"></canvas>
        </div>
    </div>

{% endblock %}
